# Creating the mean collision severity array üëç

## "clean.csv" database preprocessing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


df = pd.read_csv('raw_data/clean.csv') # depends on where you saved the csv file
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718663 entries, 0 to 718662
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   case_id             718663 non-null  int64
 1   primary_road        718663 non-null  object
 2   weather_1           718663 non-null  object
 3   collision_severity  718663 non-null  int64
 4   latitude            718663 non-null  float64
 5   longitude           718663 non-null  float64
 6   hour                718663 non-null  int64
 7   week_of_the_year    718663 non-null  int64
 8   day_of_the_week     718663 non-null  int64
 9   routes              718663 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 54.8+ MB

In [3]:
df.head()

,case_id,primary_road,weather_1,collision_severity,latitude,longitude,hour,week_of_the_year,day_of_the_week,routes
0,3516974,RT 101,clear,1,34.17357,-118.54336,10,2,4,Ventura Freeway
1,3522174,RT 405,clear,1,34.16803,-118.46901,6,3,3,San Diego Freeway
2,3524803,RT 101,cloudy,3,34.16938,-118.49952,6,1,3,Ventura Freeway
3,3524807,RT 101,cloudy,2,34.16968,-118.49999,6,1,3,Ventura Freeway
4,3524811,RT 118,clear,1,34.27350,-118.49221,14,1,3,Ronald Reagan Freeway

In [4]:
df = df.rename(columns = {'routes':'OSRM_API_ROAD_name','day_of_the_week':'weekday','primary_road':'dataset_ROAD_name'})
df

,case_id,dataset_ROAD_name,weather_1,collision_severity,latitude,longitude,hour,week_of_the_year,weekday,OSRM_API_ROAD_name
0,3516974,RT 101,clear,1,34.17357,-118.54336,10,2,4,Ventura Freeway
1,3522174,RT 405,clear,1,34.16803,-118.46901,6,3,3,San Diego Freeway
2,3524803,RT 101,cloudy,3,34.16938,-118.49952,6,1,3,Ventura Freeway
3,3524807,RT 101,cloudy,2,34.16968,-118.49999,6,1,3,Ventura Freeway
4,3524811,RT 118,clear,1,34.27350,-118.49221,14,1,3,Ronald Reagan Freeway
...,...,...,...,...,...,...,...,...,...,...
718658,8078566,RT 210,clear,2,34.13608,-117.36847,1,24,3,Foothill Freeway
718659,8165686,FLORENCE AV,clear,2,33.96229,-118.37351,16,41,0,Hindry Avenue
718660,90326285,CHAPMAN AVENUE (1500 BLOCK),clear,5,33.78883,-117.93185,1,49,6,Chapman Avenue
718661,7205180,RT 60,clear,1,34.03334,-118.18097,4,53,0,Pomona Freeway
718662,8038020,RT 60,clear,1,34.02730,-117.79989,20,49,0,Pomona Freeway

In [5]:
# changing columns order to compare former and new road names
cols = df.columns.tolist()
cols = cols[:1] + cols[-1:] + cols[1:-1]
df = df[cols]
df

,case_id,OSRM_API_ROAD_name,dataset_ROAD_name,weather_1,collision_severity,latitude,longitude,hour,week_of_the_year,weekday
0,3516974,Ventura Freeway,RT 101,clear,1,34.17357,-118.54336,10,2,4
1,3522174,San Diego Freeway,RT 405,clear,1,34.16803,-118.46901,6,3,3
2,3524803,Ventura Freeway,RT 101,cloudy,3,34.16938,-118.49952,6,1,3
3,3524807,Ventura Freeway,RT 101,cloudy,2,34.16968,-118.49999,6,1,3
4,3524811,Ronald Reagan Freeway,RT 118,clear,1,34.27350,-118.49221,14,1,3
...,...,...,...,...,...,...,...,...,...,...
718658,8078566,Foothill Freeway,RT 210,clear,2,34.13608,-117.36847,1,24,3
718659,8165686,Hindry Avenue,FLORENCE AV,clear,2,33.96229,-118.37351,16,41,0
718660,90326285,Chapman Avenue,CHAPMAN AVENUE (1500 BLOCK),clear,5,33.78883,-117.93185,1,49,6
718661,7205180,Pomona Freeway,RT 60,clear,1,34.03334,-118.18097,4,53,0
718662,8038020,Pomona Freeway,RT 60,clear,1,34.02730,-117.79989,20,49,0

In [6]:
# for now we won't be needing the week of the year, as this would shrink too much our data when querying, nor the case_id
df = df.drop(['week_of_the_year'],axis=1)
df.head()

,case_id,OSRM_API_ROAD_name,dataset_ROAD_name,weather_1,collision_severity,latitude,longitude,hour,weekday
0,3516974,Ventura Freeway,RT 101,clear,1,34.17357,-118.54336,10,4
1,3522174,San Diego Freeway,RT 405,clear,1,34.16803,-118.46901,6,3
2,3524803,Ventura Freeway,RT 101,cloudy,3,34.16938,-118.49952,6,3
3,3524807,Ventura Freeway,RT 101,cloudy,2,34.16968,-118.49999,6,3
4,3524811,Ronald Reagan Freeway,RT 118,clear,1,34.27350,-118.49221,14,3

In [7]:
df.collision_severity.value_counts()

1    472723
2    161652
3     67565
4     13001
5      3720
0         2
Name: collision_severity, dtype: int64

In [8]:
df.weather_1.value_counts()

clear      616122
cloudy      84240
raining     15968
unknown       941
fog           908
other         170
snowing       158
wind          156
Name: weather_1, dtype: int64

In [9]:
# we will (slightly arbitrarily) encode the weather type
weather = {'clear':0,'cloudy':1,'raining':2,'fog':3,'wind':2,'snowing':3,'other':0,'unknown':0}
def impute_weather(x):
    return weather[x]
df.weather_1=df.weather_1.apply(lambda x : impute_weather(x))
df.head()

,case_id,OSRM_API_ROAD_name,dataset_ROAD_name,weather_1,collision_severity,latitude,longitude,hour,weekday
0,3516974,Ventura Freeway,RT 101,0,1,34.17357,-118.54336,10,4
1,3522174,San Diego Freeway,RT 405,0,1,34.16803,-118.46901,6,3
2,3524803,Ventura Freeway,RT 101,1,3,34.16938,-118.49952,6,3
3,3524807,Ventura Freeway,RT 101,1,2,34.16968,-118.49999,6,3
4,3524811,Ronald Reagan Freeway,RT 118,0,1,34.27350,-118.49221,14,3

In [10]:
print('Out of',df.shape[0],'observations in L.A., there are',len(df.dataset_ROAD_name.value_counts()),'unique roads.')

Out of 718663 observations in L.A., there are 47949 unique roads.

####  preprocessing the road names

In [11]:
def name_proc(x):
    x=str(x).upper()
    nam = {' blvd ':' boulevard ',' bl ':' boulevard ',' rd ':' road ',' str ':' street ',' av ':' avenue ',' rt ':' route ',' blvd':' boulevard ',' bl':' boulevard ',' rd':' road ',' str':' street ',' av':' avenue',' rt':' route '}
    for k in nam.keys():
        if k in x:
            return x.replace(k,nam[k])
    else:
        return x

df.OSRM_API_ROAD_name = df.OSRM_API_ROAD_name.apply(lambda x : name_proc(x))

## Features (dimensions of the array) : weekday, dayhour, weather, road

#### starting with an example üåù

In [12]:
# say the user of our front-end streamlite website wants to leave from 'Beverly boulevard' at 4 P.M. on a thursday
# Let's find this road, see if we have it in store for that day and hour, then assess the average collision severity there
def beverly(x):
    if 'beverly' in x.lower():
        return x
    else:
        return ''
a = df.copy()
a.OSRM_API_ROAD_name = a.OSRM_API_ROAD_name.apply(lambda x:beverly(x))
a=a[(a.OSRM_API_ROAD_name != '')&(a.hour==16)&(a.weekday==4)]
a

,case_id,OSRM_API_ROAD_name,dataset_ROAD_name,weather_1,collision_severity,latitude,longitude,hour,weekday
25723,4270056,WEST BEVERLY BOULEVARD,BEVERLY BL,0,2,34.02124,-118.12599,16,4
135903,5490979,BEVERLY STREET,RT 91,0,1,33.87600,-118.11700,16,4
165486,5845229,WEST BEVERLY BOULEVARD,ATLANTIC BL,0,3,34.03224,-118.15381,16,4
333175,8397073,WEST BEVERLY BOULEVARD,WEST BEVERLY BL,0,2,34.01705,-118.10499,16,4
343373,8544754,WEST BEVERLY BOULEVARD,WEST BEVERLY BL,0,2,34.02406,-118.13924,16,4
345327,8569949,WEST BEVERLY BOULEVARD,N 10TH ST,0,1,34.01776,-118.10862,16,4
360530,8771538,BEVERLY BOULEVARD,BEVERLY BL,0,2,34.07720,-118.38889,16,4
364155,8820150,WEST BEVERLY BOULEVARD,N POPLAR AV,0,1,34.01620,-118.10091,16,4
374040,8959232,WEST BEVERLY BOULEVARD,N SPRUCE ST,0,2,34.01753,-118.10755,16,4
530235,9062274,WEST BEVERLY BOULEVARD,HOWARD AV,0,2,34.01808,-118.11016,16,4
634380,91003805,WEST BEVERLY BOULEVARD,BEVERLY BLVD (5400 BLOCK),0,1,34.02896,-118.14845,16,4

In [13]:
# let's now refine the above search:
a.groupby('OSRM_API_ROAD_name').agg({'collision_severity':'mean'})

                        collision_severity
OSRM_API_ROAD_name
BEVERLY BOULEVARD                 2.000000
BEVERLY STREET                    1.000000
WEST BEVERLY BOULEVARD            1.777778

In [14]:
print('We would then select the right road and provide the mean severity. Let us create the full array now')

We would then select the right road and provide the mean severity. Let us create the full array now

In [15]:
df[(df.weekday==4)&(df.hour==2)] # applying a multi boolean mask

,case_id,OSRM_API_ROAD_name,dataset_ROAD_name,weather_1,collision_severity,latitude,longitude,hour,weekday
549,3675319,SAN DIEGO FREEWAY,RT 405,0,1,34.23398,-118.47290,2,4
827,3687217,VENTURA FREEWAY,RT 101,0,1,34.15607,-118.42605,2,4
837,3688084,SLAUSON AVENUE,SLAUSON AV,0,1,33.96481,-118.06941,2,4
934,3690905,SAN DIEGO FREEWAY,RT 405,0,1,34.23530,-118.47286,2,4
1029,3695624,TUNA CANYON ROAD,TUNA CANYON RD,0,4,34.04666,-118.59057,2,4
...,...,...,...,...,...,...,...,...,...
715113,91322461,SAN BERNARDINO FREEWAY,I-10 E/B,0,2,34.06824,-117.38293,2,4
716801,9134517,TYLER STREET,TYLER ST,0,2,33.91209,-117.46163,2,4
717394,9141850,ORTEGA HIGHWAY,BEACH BL,0,1,33.50580,-117.59500,2,4
718104,9150603,MARGARITA ROAD,MARGARITA RD,0,2,33.53093,-117.15112,2,4
718362,9161565,TAMARISK LANE,TAMARISK LN,0,3,34.02700,-117.65725,2,4

### (TBD for the enhanced version of the array: find most relevant features then add them as dimensions)

## Imputing missing values

### simple imputer: replace missing values with average collision severity on the same road, regardless of features (ie even if weather, hour etc. are different)

#### say I start my journey on margarita road on a sunday at 9am:

In [16]:
sevdf =df[(df.weekday==6)&(df.hour==9)&(df.OSRM_API_ROAD_name=='margarita road')].groupby('OSRM_API_ROAD_name').agg({'collision_severity':'mean'})
sevdf

Empty DataFrame
Columns: [collision_severity]
Index: []

#### There is no data to retrieve because there was no such accident reported. Still, assuming no severity collision in the event of a crash is clearly wrong, so we need to impute a value here. We will use as a baseline an imputation based on data for the same road with different hours and days.

In [17]:
corr_severity_hour = df.collision_severity.corr(df.hour)
corr_severity_hour

-0.010542164408588107

In [18]:
corr_severity_day = df.collision_severity.corr(df.weekday)
corr_severity_day

0.04323533204186572

In [19]:
# there is no linear correlation as seen above, but still there is some correlation

In [20]:
# let us see if by any chance we have a record at the exact time or weekday on the same road

In [21]:
df[(df.hour==9)&(df.OSRM_API_ROAD_name=='margarita road')].groupby('OSRM_API_ROAD_name').agg({'collision_severity':'mean'})

Empty DataFrame
Columns: [collision_severity]
Index: []

In [22]:
df[(df.weekday==6)&(df.OSRM_API_ROAD_name=='margarita road')].groupby('OSRM_API_ROAD_name').agg({'collision_severity':'mean'})

Empty DataFrame
Columns: [collision_severity]
Index: []

In [23]:
# we don't so let's impute in a straightforward manner

In [24]:
df[(df.OSRM_API_ROAD_name=='margarita road')].groupby('OSRM_API_ROAD_name').agg({'collision_severity':'mean'})

Empty DataFrame
Columns: [collision_severity]
Index: []

#### we will send 1 as proxy for collision severity here

### (TBD for the enhanced version of the array: KNN imputer)

In [25]:
# we will use a KNN imputer in a 4-dimensional space (lat, lon, weekday, dayhour) 
# in order to retrieve the average collision severity of the k nearest neighbours of the user's inputs

In [26]:
# first, how many unique roads are populated with at least one collision for any (hour,weekday) combination?

In [27]:
a = df.copy()
a = a.groupby('OSRM_API_ROAD_name').agg({'case_id':'count'}).sort_values('case_id',ascending=False)
print('There are',a[a['case_id']>=7*24].shape[0],'unique road names that have at least 168 observations in the dataset. But they likely not all contain all possible (hour,weekday) combinations.')

There are 335 unique road names that have at least 168 observations in the dataset. But they likely not all contain all possible (hour,weekday) combinations.

In [28]:
# step 1 : create rows for all roads that do not have the (hour,weekday) combination populated. Put "NaN" in collision_severity column
# step 2 : implement KNN imputer

In [29]:
b=df.copy()
b

,case_id,OSRM_API_ROAD_name,dataset_ROAD_name,weather_1,collision_severity,latitude,longitude,hour,weekday
0,3516974,VENTURA FREEWAY,RT 101,0,1,34.17357,-118.54336,10,4
1,3522174,SAN DIEGO FREEWAY,RT 405,0,1,34.16803,-118.46901,6,3
2,3524803,VENTURA FREEWAY,RT 101,1,3,34.16938,-118.49952,6,3
3,3524807,VENTURA FREEWAY,RT 101,1,2,34.16968,-118.49999,6,3
4,3524811,RONALD REAGAN FREEWAY,RT 118,0,1,34.27350,-118.49221,14,3
...,...,...,...,...,...,...,...,...,...
718658,8078566,FOOTHILL FREEWAY,RT 210,0,2,34.13608,-117.36847,1,3
718659,8165686,HINDRY AVENUE,FLORENCE AV,0,2,33.96229,-118.37351,16,0
718660,90326285,CHAPMAN AVENUE,CHAPMAN AVENUE (1500 BLOCK),0,5,33.78883,-117.93185,1,6
718661,7205180,POMONA FREEWAY,RT 60,0,1,34.03334,-118.18097,4,0
718662,8038020,POMONA FREEWAY,RT 60,0,1,34.02730,-117.79989,20,0

In [30]:
b.groupby(['OSRM_API_ROAD_name','weather_1','hour','weekday']).mean()

                                              case_id  collision_severity  \
OSRM_API_ROAD_name weather_1 hour weekday
10TH AVENUE        0         5    6         4284186.0                 1.0
                             11   3        90585664.0                 1.0
                                  4        90460643.0                 1.0
                             14   1         6717700.0                 2.0
                             21   4        90178610.0                 1.0
...                                               ...                 ...
ZURICH DRIVE       0         13   0        90504107.0                 1.0
                                  5        90461743.5                 1.0
                             14   6         6601791.0                 2.0
                             19   4         4864679.0                 3.0
                             22   5        90844461.0                 4.0

                                            latitude   longitude
OSRM_API_ROAD_name weather_1 hour weekday
10TH AVENUE        0         5    6        34.035080 -118.328450
                             11   3        34.035520 -118.328440
                                  4        34.034510 -118.328510
                             14   1        33.989220 -118.328250
                             21   4        34.034690 -118.328400
...                                              ...         ...
ZURICH DRIVE       0         13   0        34.243840 -117.274810
                                  5        34.244125 -117.272605
                             14   6        34.244880 -117.277730
                             19   4        34.244850 -117.277890
                             22   5        34.245290 -117.280100

[217777 rows x 4 columns]

In [31]:
b['moment'] = b.apply(lambda x: str(x[7]) + '-' + str(x[8]), axis=1)
b

,case_id,OSRM_API_ROAD_name,dataset_ROAD_name,weather_1,collision_severity,latitude,longitude,hour,weekday,moment
0,3516974,VENTURA FREEWAY,RT 101,0,1,34.17357,-118.54336,10,4,10-4
1,3522174,SAN DIEGO FREEWAY,RT 405,0,1,34.16803,-118.46901,6,3,6-3
2,3524803,VENTURA FREEWAY,RT 101,1,3,34.16938,-118.49952,6,3,6-3
3,3524807,VENTURA FREEWAY,RT 101,1,2,34.16968,-118.49999,6,3,6-3
4,3524811,RONALD REAGAN FREEWAY,RT 118,0,1,34.27350,-118.49221,14,3,14-3
...,...,...,...,...,...,...,...,...,...,...
718658,8078566,FOOTHILL FREEWAY,RT 210,0,2,34.13608,-117.36847,1,3,1-3
718659,8165686,HINDRY AVENUE,FLORENCE AV,0,2,33.96229,-118.37351,16,0,16-0
718660,90326285,CHAPMAN AVENUE,CHAPMAN AVENUE (1500 BLOCK),0,5,33.78883,-117.93185,1,6,1-6
718661,7205180,POMONA FREEWAY,RT 60,0,1,34.03334,-118.18097,4,0,4-0
718662,8038020,POMONA FREEWAY,RT 60,0,1,34.02730,-117.79989,20,0,20-0

In [32]:
# let us get a UNIQUE LIST OF ROADS (in the API)
roads = b[['OSRM_API_ROAD_name']].drop_duplicates()
roads = roads.OSRM_API_ROAD_name.to_list()
roads

['VENTURA FREEWAY',
 'SAN DIEGO FREEWAY',
 'RONALD REAGAN FREEWAY',
 'DEODAR STREET',
 'BRIGGS ROAD',
 'CHINO VALLEY FREEWAY',
 'TEMECULA VALLEY FREEWAY',
 'VANOWEN STREET',
 'SEPULVEDA BOULEVARD',
 'SANTA ANA FREEWAY',
 'SANTA MONICA FREEWAY',
 'EL PRADO AVENUE',
 'PACIFIC COAST HIGHWAY',
 'FOOTHILL FREEWAY',
 'GARDEN GROVE FREEWAY',
 'EAST VILLA VISTA WAY',
 'WILSON STREET',
 'KALISHER STREET',
 'COSTA MESA FREEWAY',
 'RIVERSIDE FREEWAY',
 'BROCKWAY STREET',
 'VENTURA BOULEVARD',
 'COLDWATER CANYON AVENUE',
 'SAN BERNARDINO FREEWAY',
 'ORANGE BLOSSOM AVENUE',
 'CAMPUS AVENUE',
 'ETIWANDA AVENUE',
 'MONROE STREET',
 'WEST KATELLA AVENUE',
 'ORANGE FREEWAY',
 'SAN BERNARDINO AVENUE',
 'LINDERNBERGER ROAD',
 'SAN GABRIEL RIVER FREEWAY',
 'SHERMAN WAY',
 'CALABASAS ROAD',
 'HIDDEN SPRINGS ROAD',
 'FOOTHILL TRANSPORTATION CORRIDOR',
 'ARTESIA FREEWAY',
 'HARBOR BOULEVARD',
 'ESCONDIDO FREEWAY',
 'MORENO VALLEY FREEWAY',
 'ORTEGA HIGHWAY',
 'LOS ALAMOS ROAD',
 'CAMPUS DRIVE',
 'GUINIDA LANE',
 'GOLDEN STATE FREEWAY',
 'CORONA DEL MAR FREEWAY',
 'SAN JOAQUIN HILLS TRANSPORTATION CORRIDOR',
 'POMONA FREEWAY',
 'RUBIDOUX BOULEVARD',
 'HOPKINS STREET',
 'RECHE CANYON ROAD',
 'ST LAWRENCE STREET',
 'CORONA FREEWAY',
 'VALLEY BOULEVARD',
 'RUGGED TRAIL',
 'EDEN AVENUE',
 'IMPERIAL HIGHWAY',
 '7TH AVENUE',
 'HOLLYWOOD FREEWAY',
 'RIM OF THE WORLD HIGHWAY',
 'MULHOLLAND DRIVE',
 'VALLEY VIEW DRIVE',
 'TELEGRAPH ROAD',
 'WALKER CANYON ROAD',
 'WARD STREET',
 'EL CAMINO REAL',
 'VICTORY BOULEVARD',
 'GRAND AVENUE',
 'THOROUGHBRED LANE',
 'RESIDENCIA',
 'JAMBOREE ROAD',
 'BELLEGRAVE AVENUE',
 'VAN BUREN BOULEVARD',
 'ONTARIO FREEWAY',
 'ETHLENE DRIVE',
 'EAST SHASTA DRIVE',
 'AGUA MANSA ROAD',
 'UPPER BIG TUJUNGA CANYON ROAD',
 'EASTRIDGE AVENUE',
 'FOX STREET',
 'TOPANGA CANYON BOULEVARD',
 'UNIVERSITY AVENUE',
 'LEMOLI AVENUE',
 'SAMPSON STREET',
 '91 EXPRESS LANES',
 'OLD ELSINORE ROAD',
 'LIMONITE AVENUE',
 'CITRUS STREET',
 '24TH STREET',
 'SATICOY STREET',
 'FULLERTON ROAD',
 'COLIMA ROAD',
 'ROSECRANS AVENUE',
 'LAMBERT ROAD',
 'HAUN ROAD',
 'MARKET STREET',
 'OLIVER STREET',
 'BEAUMONT AVENUE',
 'CIRCLE LAZY J ROAD',
 'HARBOR FREEWAY',
 'SOUTH BUFORD AVENUE',
 'SOUTH RESERVOIR STREET',
 'BELLE RIVER DRIVE',
 'LEFFINGWELL ROAD',
 'PATHFINDER ROAD',
 'MULBERRY DRIVE',
 'MILLS AVENUE',
 'LAKEWOOD BOULEVARD',
 'SOUTH NOGALES STREET',
 'BREA CANYON ROAD',
 'LOS PALACIOS DRIVE',
 'VINELAND AVENUE',
 'DEMPSEY AVENUE',
 'BLUEFIELD AVENUE',
 'WINCHESTER ROAD',
 'BUNDY CANYON ROAD',
 'SALEROSO DRIVE',
 'FLORENCE AVENUE',
 'VALLEY VIEW AVENUE',
 'CULVER BOULEVARD',
 'CANOGA AVENUE',
 'SYCAMORE CANYON BOULEVARD',
 'NOB HILL ROAD',
 'CORIANDER DRIVE',
 'FOREST BOUNDARY ROAD',
 'MULBERRY STREET',
 'SOUTH WEIRICK ROAD',
 'CAMINO REAL',
 'CENTURY FREEWAY',
 'SAN FELICIANO DRIVE',
 'BREA CANYON CUT OFF ROAD',
 'NORTHRIDGE DRIVE',
 'SAN BERNARDINO ROAD FRONTAGE ROAD',
 'WEST 104TH STREET',
 'BLOOMFIELD AVENUE',
 'GRANDRIDGE AVENUE',
 'QUAIL HILL TRAILHEAD',
 'NIGHTHAWK WAY',
 'ALABAMA STREET',
 'GAYNOR AVENUE',
 'BUSHNELL AVENUE',
 'NORWICH AVENUE',
 'BLAINE STREET',
 'AVENUE A',
 'VINE STREET',
 'RAYE STREET',
 'PUENTE AVENUE',
 'STAMY ROAD',
 'NORTH TOPANGA CANYON BOULEVARD',
 'UNDERWOOD CIRCLE',
 'BLUFFWOOD STREET',
 'LOS ARCOS STREET',
 'SOUTH HACIENDA BOULEVARD',
 'PECK ROAD',
 'FAIRWAY DRIVE',
 'LANCEWOOD AVENUE',
 'GALE AVENUE',
 'CROSSROADS PARKWAY SOUTH',
 'AVENIDA LA CRESTA',
 'SOUTH SPRING STREET',
 'EAST CENTRAL AVENUE',
 'ANGELES FOREST HIGHWAY',
 'VISTA AVENUE',
 'WINNETKA AVENUE',
 'HORTENSE STREET',
 'NARROT STREET',
 'EAST COMMONWEALTH AVENUE',
 'SOUTH WESTERN AVENUE',
 'HARCROSS DRIVE',
 'LAKE MANOR DRIVE',
 'MAGNOLIA BOULEVARD',
 'MISSION BOULEVARD',
 'SPRUCE STREET',
 'BAXTER ROAD',
 'ANTELOPE ROAD',
 'LAZY CREEK ROAD',
 'CLARKDALE AVENUE',
 'BRIDGEWOOD DRIVE',
 'LYCOMING STREET',
 'BENFIELD AVENUE',
 'SLAUSON AVENUE',
 'BEVERLY STREET',
 'NORWALK BOULEVARD',
 'SILVER CLOUD DRIVE',
 'BROADWAY',
 'MINES BOULEVARD',
 'OHIO STREET',
 'LELAND AVENUE',
 'PASO REAL AVENUE',
 'VIRGINIA AVENUE',
 'HINNEN AVENUE',
 'MORSE AVENUE',
 'PARK LAWN ROAD',
 'LUJON STREET',
 'WORKMAN MILL ROAD',
 'KEYNOTE STREET',
 'N FIRESTONE BOULEVARD',
 'RICHVALE DRIVE',
 'PICO VISTA ROAD',
 'CRIDGE STREET',
 'LA CADENA DRIVE',
 'TEMESCAL CANYON ROAD',
 'ARCHIBALD AVENUE',
 'RAMONA EXPRESSWAY',
 'MADISON STREET',
 'HARVEST',
 'DEAN STREET',
 'PIONEER BOULEVARD',
 'DAMIETTA DRIVE',
 'GOLDEN SPRINGS DRIVE',
 'ESCALADA AVENUE',
 'MARKHAM STREET',
 'IVY GLEN DRIVE',
 'BURGESS AVENUE',
 'PAINTER AVENUE',
 'CEDARDALE DRIVE',
 'GERNERT ROAD',
 'OLD 215 FRONTAGE ROAD',
 'SEVEN SPRINGS WAY',
 'A STREET',
 'WEBB STREET',
 'ETHANAC ROAD',
 'MENIFEE ROAD',
 'SCOTT ROAD',
 'SAN SEVAINE WAY',
 'GOETZ ROAD',
 'FRONTAGE ROAD',
 'JOHNS ROAD',
 'RED MOUNTAIN DRIVE',
 'CONCORDIA RANCH ROAD',
 'MINDANAO WAY',
 'WEST 113TH STREET',
 'ARLETA AVENUE',
 'BECKFORD AVENUE',
 'REDCLIFF STREET',
 'LAGUNA ROAD',
 'MCCALL BOULEVARD',
 'EXCELSIOR DRIVE',
 '177TH STREET',
 'CEDAR CREEK ROAD',
 'JURUPA ROAD',
 'BEDFORD CANYON ROAD',
 'CANYON RIDGE ROAD',
 'SADDLEBACK ROAD',
 'WEST 190TH STREET',
 'HELMCREST DRIVE',
 'VERMONT AVENUE',
 'DARRO ROAD',
 'SHELDON STREET',
 'KILLION STREET',
 'INDEX STREET',
 'MC CORMICK STREET',
 'KENYA STREET',
 'VALDEMAR DRIVE',
 'CARRON DRIVE',
 'SHOEMAKER AVENUE',
 '170TH STREET',
 'LOS ROBLES AVENUE',
 'HAWES STREET',
 'CAMINO DEL SUR',
 'ALLENTON AVENUE',
 'RIDGE PARK DRIVE',
 'PADDISON AVENUE',
 'CERRITOS CORPORATE DRIVE',
 'BLUE HERON',
 'CHASE STREET',
 'STRATHERN STREET',
 'DEL GADO DRIVE',
 'REDLANDS BOULEVARD',
 'HARVILL AVENUE',
 'AVENIDA PERLA BONITA',
 'STADIUM WAY',
 '30TH STREET',
 'MORENO VALLEY FREEWAY HOV',
 'CATANIA DRIVE',
 'BROOKPARK ROAD',
 'ALONDRA BOULEVARD',
 'MILLERGROVE DRIVE',
 'NORTH DEREK DRIVE',
 'NEWPORT ROAD',
 'CALLE ANDALUCIA',
 'DIANA AVENUE',
 'GREENLEAF STREET',
 'HAMNER AVENUE',
 'BURBANK BOULEVARD',
 'LOUISE AVENUE',
 'OLYMPIC BOULEVARD',
 'HARTER AVENUE',
 'DODD STREET',
 'EL RIVINO ROAD',
 'WISH AVENUE',
 'SCHUEREN ROAD',
 'POWELL DRIVE',
 'I-110 METRO EXPRESSLANES',
 'EAST WALNUT DRIVE NORTH',
 'BONNIE COVE AVENUE',
 'EAST AMAR ROAD',
 'TUNA CANYON ROAD',
 'ADMIRALTY WAY',
 'LA MAIDA STREET',
 'AURA AVENUE',
 'WEST 8TH STREET',
 'WILBUR AVENUE',
 'WEST 110TH STREET',
 'NORMANDIE AVENUE',
 'CREE TRAIL',
 'BECK AVENUE',
 'VALERIO STREET',
 'HENSHAW AVENUE',
 'AVALON STREET',
 'ALDRICH STREET',
 'VALLEY SPRINGS PARKWAY',
 'CAR GREEN AVENUE',
 'S FIRESTONE BOULEVARD',
 'SARAGOSA STREET',
 'STIMSON AVENUE',
 'DOMART AVENUE',
 'LARKVANE ROAD',
 'DENLEY STREET',
 'BELLFLOWER BOULEVARD',
 'SOUTH DEREK DRIVE',
 'KELLA AVENUE',
 'FIRESTONE BOULEVARD',
 'CHADSEY DRIVE',
 'FLORY STREET',
 'EAST LA PALMA AVENUE',
 'FULTON AVENUE',
 'DUANE STREET',
 'VAN NOORD AVENUE',
 'WASHINGTON BOULEVARD',
 'ROOKS ROAD',
 'MATCHLEAF AVENUE',
 'CARMENITA ROAD',
 'STUDEBAKER ROAD',
 'LAUREL AVENUE',
 'BRONTE DRIVE',
 'COLUMBIA AVENUE',
 'DUBARRY DRIVE',
 'GRUWELL STREET',
 'DAWN HAVEN ROAD',
 'AGUIRO STREET',
 'JELLICK AVENUE',
 'LETICIA DRIVE',
 'BRETONWOOD LANE',
 'BATSON AVENUE',
 'LA JARA LANE',
 'CLOSE STREET',
 'PLEASANT WAY',
 'LA TUNA CANYON ROAD',
 'VETERAN AVENUE',
 'DUFFIELD AVENUE',
 'CEDARTREE ROAD',
 'CUPANIA',
 'BAIS PLACE',
 'ADOREE STREET',
 'VICTORIA AVENUE',
 'BANGLE ROAD',
 'SUNSHINE AVENUE',
 'EAST BALL ROAD',
 'ANDRADA DRIVE',
 'TURNBULL CANYON ROAD',
 'ORR AND DAY ROAD',
 'OPAL STREET',
 'CYPRESS WAY (PRIVATE)',
 'OVERLOOK PARKWAY',
 'ORANGE STREET PARK AND RIDE',
 'CHURCH STREET',
 'GRAYSTONE AVENUE',
 'AVENIDA DEL CANADA',
 'ALESSANDRO BOULEVARD',
 'CAJALCO ROAD',
 'HALLIBURTON ROAD',
 'PEDLEY ROAD',
 'LA CADENA DRIVE WEST',
 'MOUNTAIN HOUSE DRIVE',
 'PALISADES DRIVE',
 'DANBY AVENUE',
 'SOUTH OLYMPUS AVENUE',
 'NORTH GRAND AVENUE',
 'VAN RUITEN STREET',
 'INLAND AVENUE',
 'ORANGE STREET',
 'OCEAN AVENUE',
 'URBAN AVENUE',
 'S NORMANDIE AVENUE',
 'EDINGER AVENUE',
 'RENAULT STREET',
 'LOS ALIMOS STREET',
 'STEPHEN ROAD',
 'MOJAVE FREEWAY',
 'HESBY STREET',
 'SHOUP AVENUE',
 'PARTHENIA STREET',
 'MEARS AVENUE',
 '65TH STREET',
 'AVENUE B',
 'CORONA MALL',
 'BOLSA AVENUE',
 'PHILLIPS RANCH ROAD',
 'WENTWORTH STREET',
 'NORTH MOUNTAIN AVENUE',
 'EAST GAGE AVENUE',
 'EASTERN TRANSPORTATION CORRIDOR',
 'EAST SANTA CLARA AVENUE',
 'SOUTH PLACENTIA AVENUE',
 'SKY PARK CIRCLE',
 'HASKELL AVENUE',
 'PALM STREET',
 'CAMARILLO STREET',
 'BOX CANYON ROAD',
 'OBREGON STREET',
 'ORR AND DAY WEST FRONTAGE ROAD',
 'SHADYBEND DRIVE',
 'DECORAH ROAD',
 'SOUTH VALLECITO DRIVE',
 'ELEANOR STREET',
 'PARAMOUNT BOULEVARD',
 'SOUTH PROSPECTORS ROAD',
 'ANN STREET',
 'AQUEDUCT AVENUE',
 'BERMUDA STREET',
 'LONE RIDGE PLACE',
 'ANOLA STREET',
 'AVENUE SAN LUIS',
 '6TH STREET',
 'PROMENADE AVENUE',
 'RENEE AVENUE',
 'ALEXANDRIA AVENUE',
 'SUN CITY BOULEVARD',
 'WINDSONG LANE',
 'BRIDGER ROAD',
 'WEST MANCHESTER BOULEVARD',
 'WEST BASELINE ROAD',
 'ORANGE AVENUE',
 'VALINDA AVENUE',
 'DON JULIAN ROAD',
 'BECKNER STREET',
 'SOUTH MAYFLOWER AVENUE',
 'CAMBRAY DRIVE',
 'EVERGREEN STREET',
 'LONE PINE CANYON ROAD',
 'AMAR ROAD',
 'ARROW HIGHWAY',
 'IRWINDALE AVENUE FRONTAGE ROAD',
 'GARVEY AVENUE',
 'FRANCISQUITO AVENUE',
 'WEST GARVEY AVENUE NORTH',
 'NORTH AZUSA AVENUE',
 'BALHAM AVENUE',
 'SOUTH COVINA BOULEVARD',
 'BALDWIN PARK BOULEVARD',
 'WOODCROFT STREET',
 'JEANNIE DRIVE',
 'HEMPHILL STREET',
 'MOUNTAIN AVENUE',
 'NORTH LAMER STREET',
 'EAST CRESTLINE DRIVE',
 'PIUMA AVENUE',
 'BARSTOW FREEWAY',
 'NEWPORT DRIVE',
 'KADOTA AVENUE',
 'MISSION TRAIL',
 'PASEO DIABLO',
 'HAZELTINE AVENUE',
 'MARTHA STREET',
 'MOUNT LOWE TRAIL',
 'GARDEN LAND ROAD',
 'SAN ANTONIO DRIVE',
 'EAST COUNTY ROAD',
 'ROSE HEDGE DRIVE',
 'STOAKES AVENUE',
 'SOUTH ROCK RIVER ROAD',
 'BUFORD STREET',
 'CHANDLER STREET',
 'MARIPOSA AVENUE',
 'VALLEY WAY',
 'AVENIDA MARIPOSA',
 'GRAPE STREET',
 'EAST 35TH STREET',
 '15TH STREET',
 'WEST 106TH STREET',
 'WEST EL SEGUNDO BOULEVARD',
 'FACADE AVENUE',
 'WILLOW AVENUE',
 'NORTH ROCKVALE AVENUE',
 'EAST BASELINE ROAD',
 'MAPLEGROVE STREET',
 'FOREST CANYON DRIVE',
 'SALAIS STREET',
 'STERN AVENUE',
 'SMITH ROAD',
 'OLD TOPANGA CANYON ROAD',
 'RIVERSIDE DRIVE',
 'LAUREL CANYON BOULEVARD',
 'OSTROM AVENUE',
 'CHICAGO AVENUE',
 'NASON STREET',
 'COUNTRY VILLAGE ROAD',
 'WEIRICK ROAD',
 'BROWN STREET',
 'DE SOTO AVENUE',
 'CLAY STREET',
 'SAXON COURT',
 'GLENDALE FREEWAY',
 'GREENHILL DRIVE',
 'SIERRA SOTO ROAD',
 'COMMERCIAL AVENUE',
 'LONGS PEAK DRIVE',
 'SOUTH LA CIENEGA BOULEVARD',
 'KELLOGG DRIVE',
 'GROSSE POINT DRIVE',
 'WOODSTEAD AVENUE',
 'MAGNOLIA AVENUE',
 'LA PUERTA DRIVE',
 'EL SOBRANTE ROAD',
 'BEL AIR STREET',
 'CENTRAL AVENUE',
 'TELFORD AVENUE',
 'BALBOA BOULEVARD',
 'SOUTH MAIN DIVIDE ROAD',
 'WOODMAN AVENUE',
 'TUJUNGA AVENUE',
 'WHITSETT AVENUE',
 'BRADWELL AVENUE',
 'THREE PALMS DRIVE',
 'WHITTIER BOULEVARD',
 'RIDGE CREST STREET',
 'BEACH STREET',
 'EAST LA MONDE STREET',
 'VANPORT AVENUE',
 'CENTRAL STREET',
 'SOUTH ETIWANDA AVENUE',
 'SEDONA DRIVE',
 'GOODHUE STREET',
 'RED COACH LANE',
 'CLARK AVENUE',
 'FERNVIEW STREET',
 'PARK STREET',
 'LEIBACHER AVENUE',
 'VALCARLOS AVENUE',
 'WILDWOOD WAY',
 'TEMPLE AVENUE',
 'NEWTON STREET',
 'NORTH HACIENDA BOULEVARD',
 'ELLEN DRIVE',
 'BOER AVENUE',
 'SKABO AVENUE',
 'MILLER ROAD',
 'DELAMERE DRIVE',
 'CENTER STREET',
 'LANARK STREET',
 'SOUTH GRAND AVENUE',
 'EAST GARVEY AVENUE SOUTH',
 'VINCENT AVENUE',
 'CLOVERLEAF DRIVE',
 'PASEO SONRISA',
 'FELIPE STREET',
 'SOUTH BELGREEN DRIVE',
 'FAIRGROVE AVENUE',
 'LANDMARK DRIVE',
 'PROCTOR AVENUE',
 'VINCENT AVENUE FRONTAGE ROAD',
 'SMITH RIVER ROAD',
 'WEST SLAUSON AVENUE',
 'CHARTWELL DRIVE',
 'GLENWICK AVENUE',
 'LONG BEACH FREEWAY',
 'ACAPULCO DRIVE',
 'LOCH LOMOND DRIVE',
 'DUNLAP CROSSING ROAD',
 'BEVERLY BOULEVARD',
 'REYES DRIVE',
 'LA MIRADA BOULEVARD',
 'LANNING DRIVE',
 'TRENT DRIVE',
 'EASTVALE GATEWAY',
 'ROYCE ROAD',
 'EDGERIDGE DRIVE',
 'GREENLEAF CANYON ROAD',
 'SANTA SUSANA PASS ROAD',
 'PALM AVENUE',
 'IBBETSON AVENUE',
 'WINCHELL STREET',
 'DENSMORE AVENUE',
 'WASHINGTON BLVD NORTH FRONTAGE ROAD',
 'RAILROAD STREET',
 'DAISETTA STREET',
 'BORK AVENUE',
 'FRESNO ROAD',
 'ALVISO AVENUE',
 'TURNPOST LANE',
 'SIGMAN STREET',
 'CERES AVENUE',
 'COUNTRYWOOD AVENUE',
 'CORLEY DRIVE',
 'SAN GABRIEL RIVER PARKWAY',
 'MEADOWVIEW TERRACE',
 'CECILIA STREET',
 'LAMBERT AVENUE',
 'LIGHT STREET',
 'EAST 67TH STREET',
 'SOUTH WORKMAN MILL ROAD',
 'NOGALES STREET',
 'MEYER ROAD',
 'EAST CHAPMAN AVENUE',
 'LEV AVENUE',
 'BELLAGIO ROAD',
 'DANBROOK DRIVE',
 'MONDON AVENUE',
 'WISTERIA STREET',
 'STONE RIDGE STREET',
 'PINACATE ROAD',
 'LILAC LANE',
 'NORTH ONTARIO STREET',
 'OLIVE STREET',
 'DAY STREET',
 'HASTINGS DRIVE',
 'CITRUS EDGE STREET',
 'WEST ARROW HIGHWAY',
 'ANAHEIM WAY',
 'MOORPARK STREET',
 'TRABUCO ROAD',
 'PILGRIM WAY',
 'DICKY STREET',
 'CHEVY CHASE DRIVE',
 'FREEWAY DRIVE',
 'SCOTT AVENUE',
 'EAST VICTORIA STREET',
 'CEDARLANE DRIVE',
 'CEDARCLIFF AVENUE',
 'FLORA VISTA STREET',
 'SOUTH GAREY AVENUE',
 'SAN GABRIEL CANYON ROAD',
 'NORTH VINCENT AVENUE',
 'ASHER STREET',
 'GALEMONT AVENUE',
 'DIAMOND BAR BOULEVARD',
 'STEARNS STREET',
 'C STREET',
 'NEW YORK DRIVE',
 'SANTA ROSA AVENUE',
 'MACARTHUR BOULEVARD',
 'EAST CORONADO LANE',
 'MARWOOD STREET',
 'YARMOUTH AVENUE',
 'ETHEL AVENUE',
 'SOUTH BUDLONG AVENUE',
 '1ST AVENUE',
 'BALFOUR STREET',
 'CANAL POINT ROAD',
 'TIGRINA AVENUE',
 'BARTLEY AVENUE',
 'EAST IMPERIAL HIGHWAY',
 'HILTON HEAD DRIVE',
 'SONGBIRD LANE',
 'BLUCHER AVENUE',
 'MONARCA DRIVE',
 'GOTHIC AVENUE',
 'RESEDA BOULEVARD',
 'MASON AVENUE',
 'ANGELES VISTA BOULEVARD',
 'GREENWALD AVENUE',
 'GRANITE HILL DRIVE',
 'HERMOSA DRIVE',
 'MADALENA DRIVE',
 'WHISTLER WAY',
 'HALL AVENUE',
 'SLATE CREEK ROAD',
 'STEVE FARIS MEMORIAL HIGHWAY',
 'SERFAS CLUB DRIVE',
 'OTSEGO STREET',
 'HAYVENHURST AVENUE',
 'GLADE AVENUE',
 'WALNUT DRIVE',
 'PARK AVENUE',
 'DAVENRICH STREET',
 '54TH STREET',
 'ORR AND DAY FRONTAGE ROAD',
 'GENTRY AVENUE',
 'WILSHIRE BOULEVARD',
 'MARINA FREEWAY',
 'DORAL AVENUE',
 'WYANDOTTE STREET',
 'THORNTON STREET',
 'HAINES STREET',
 'LA MORE ROAD',
 'EL TORO ROAD',
 'ARMSTRONG ROAD',
 'DETROIT STREET',
 'FLORAL DRIVE',
 'NORTH GREENWOOD AVENUE',
 'GLENDORA MOUNTAIN ROAD',
 'SANTA ANITA AVENUE',
 'DALEWOOD STREET',
 'CASINO DRIVE',
 'BEAR STREET',
 'LOS MOLINOS STREET',
 'SADDLE PEAK ROAD',
 'WELLS LANE',
 'MORRISON STREET',
 'NORAN AVENUE',
 'SOUTH KWIS AVENUE',
 'CYPRESS STREET FRONTAGE ROAD',
 'VIA AMOROSA',
 'DUQUESNE AVENUE',
 'EAST ADAMS STREET',
 'EAST 1ST STREET',
 'EAST PHILADELPHIA STREET',
 'EAST GARVEY AVENUE NORTH',
 'LEONORA DRIVE',
 'TRAILSIDE DRIVE',
 'SOUTH BARRANCA AVENUE',
 'HARLOW AVENUE',
 'SANTA MARIANA AVENUE',
 'BALI WAY',
 'CIRCLE DR',
 'SOUTH BURL AVENUE',
 'INDIANA AVENUE',
 'RIGEL WAY',
 'LA CIENEGA BOULEVARD',
 'SOUTH VERMONT AVENUE',
 'SPRING STREET',
 'TERRAPIN WAY',
 'KISKA AVENUE',
 'HYDE PARK COURT',
 'ENLOE DRIVE',
 'NORTH HARTLEY AVENUE',
 'LOMITAS AVENUE',
 'EAST CIENEGA AVENUE',
 'CAHUENGA BOULEVARD WEST',
 'OTTERBEIN AVENUE',
 'RITCHEY STREET',
 'YOCKEY STREET',
 'NISSON ROAD',
 'WALNUT AVENUE',
 'SOUTH CALIFORNIA AVENUE',
 'FAIRGROUNDS STREET',
 'TYLER STREET',
 'LISA PLACE',
 'SOUTH SENTOUS AVENUE',
 'DOUBLEGROVE STREET',
 'LIVE OAK AVENUE',
 'KENDALL LANE',
 'HAYVENHURST DRIVE',
 '34TH STREET',
 'CALCUTTA STREET',
 'EAST VIA VERDE STREET',
 'FRAZIER STREET',
 'OWENS WAY',
 '3RD AVENUE',
 'EAST ARROW HIGHWAY',
 'WEST GARVEY AVENUE SOUTH',
 '5TH AVENUE',
 'SOUTH ASHDALE STREET',
 'BIELEC LANE',
 'NORTH ORANGE AVENUE',
 'EAST GLADSTONE STREET',
 'LONGWORTH AVENUE',
 'MOUNT BALDY ROAD',
 'BROADMOOR AVENUE',
 'TADMORE STREET',
 'NORTH CITRUS AVENUE',
 'FAGAN DRIVE',
 'PATRITTI AVENUE',
 'OAKWOOD STREET',
 'LA SIERRA AVENUE',
 'MC KINLEY STREET',
 'LAKE KNOLL PARKWAY',
 'DAWES STREET',
 'GRAPEWIN STREET',
 'DOMENIGONI PARKWAY',
 'DAWLEY AVENUE',
 'ARKANSAS STREET',
 'GOLD RUN DRIVE',
 'LA CUEVA DRIVE',
 'NORTH OAKBANK DRIVE',
 'PACIFIC AVENUE',
 'PERRY STREET',
 'DELANO STREET',
 'ORION AVENUE',
 'PETIT DRIVE',
 'WEDGEWORTH DRIVE',
 'MARYKNOLL AVENUE',
 'MAPES AVENUE',
 'EUCALYPTUS DRIVE',
 'PASO VERDE DRIVE',
 'LATCHFORD AVENUE',
 'ALLERTON STREET',
 'EAST COVINA BOULEVARD',
 'LITTLE LAKE ROAD',
 'SOUTH BASETDALE AVENUE',
 'DAVIS ROAD',
 'SAN ANGELO AVENUE',
 'SUMMERFIELD AVENUE',
 'DAINES DRIVE',
 'WEST HOLT AVENUE',
 'EAST RENWICK ROAD',
 'VILLA PARK STREET',
 'VIA VERDE',
 'WEST BONITA AVENUE',
 'FARNA AVENUE',
 'HARRIET LANE',
 'ROCKY PEAK TRAIL',
 'MARINA CITY DRIVE',
 'STOCKER STREET',
 'METATE ROAD',
 'OHIO AVENUE',
 'WEST CENTURY BOULEVARD',
 'WALBROOK DRIVE',
 'PLUM AVENUE',
 'GRANT STREET',
 'SOUTH WINTON AVENUE',
 'FOOTHILL BOULEVARD',
 'SOUTH TOPANGA CANYON BOULEVARD',
 'ROSEMONT AVENUE',
 'SALOMA AVENUE',
 'RINALDI STREET',
 'SYLVAN STREET',
 'RIVER ROAD',
 'TWINING STREET',
 'WINEVILLE AVENUE',
 'GOLDEN WEST AVENUE',
 'HIGHLAND AVENUE',
 'SARAH STREET',
 'OAK PARK AVENUE',
 'WOODLEY AVENUE',
 'EAST MAUNA LOA AVENUE',
 'MURCHISON AVENUE',
 'LANTANA DRIVE',
 'WALLACE STREET',
 'SOUTH VICENTIA AVENUE',
 'NEECE STREET',
 'BYRON STREET',
 'WHITNEY DRIVE',
 'SANTIAGO CANYON ROAD',
 'ROCKWELL AVENUE',
 'COBBLE CREEK DRIVE',
 'NORTH SHADYDALE AVENUE',
 '56TH STREET',
 'LINDA VISTA AVENUE',
 'PORTER RANCH PARK AND RIDE',
 'GALLIO AVENUE',
 'HAMER DRIVE',
 'SANTA ANA CANYON ROAD',
 'ASPEN CIRCLE',
 'EMERALD MEADOW DRIVE',
 'GARDEN GROVE BOULEVARD',
 'CALIFORNIA STREET',
 'EAST LOS ALTOS DRIVE',
 'CROSSROADS PARKWAY NORTH',
 'EATON DRIVE',
 'TAMPA AVENUE',
 'PASEO DE ROBERTO',
 'SHADYSIDE AVENUE',
 'BINNEY STREET',
 '9TH AVENUE',
 'POCONO STREET',
 'CURRIER ROAD',
 'ALBERS STREET',
 'WILKINSON AVENUE',
 'WEST 7TH STREET',
 'CHERRY AVENUE',
 'PITMAN CANYON ROAD',
 'GREEN VALLEY CIRCLE',
 '7TH STREET',
 'RETREAT PARKWAY',
 'AUTUMN WALK DRIVE',
 'BAY CIRCLE',
 'VILLA STREET',
 'CANTU-GALLEANO RANCH ROAD',
 'TRANSIT AVENUE',
 'TOWNLEY DRIVE',
 'KILLIAN AVENUE',
 'EVENING STAR AVENUE',
 'PASEO ALDEANO',
 'CIRCLE RIDGE LANE',
 'FIDEL AVENUE',
 'STONER CREEK ROAD',
 'GRIDLEY ROAD',
 'PEPPER BROOK WAY',
 'ALBURTIS AVENUE',
 'ALDERTON AVENUE',
 'PAULARINO AVENUE',
 'FLORINDA AVENUE',
 'EAST MARDINA STREET',
 'SOUTH HATCHER AVENUE',
 'COLUMBIA WAY',
 'RADA ROAD',
 'AMIGO AVENUE',
 'AUTO CENTER DRIVE',
 'VOLUNTEER AVENUE',
 'MANOR GATE ROAD',
 'E BUSBY DR',
 'WELLINGTON ROAD',
 'UNION STREET',
 'ALBATROSS ROAD',
 'ROCKNE AVENUE',
 'MESCAL STREET',
 'CAJON BOULEVARD',
 'WEST 1ST AVENUE',
 'HEWES AVENUE',
 'HOOVER STREET',
 'BEACON DRIVE',
 'MEAD STREET',
 'CAJALCO EXPRESSWAY',
 '68TH STREET',
 'SOFT WINDS DRIVE',
 'BELMONT AVENUE',
 'HIDDEN HILLS ROAD',
 'I 105 WEST',
 'SILVERADO CANYON ROAD',
 'LAKELAND ROAD',
 'SOUTH INGLEWOOD AVENUE',
 'HIDDEN OAKS',
 'NORTH HELIOTROPE DRIVE',
 'GALENA STREET',
 'BENAVON STREET',
 'SANTA GERTRUDES AVENUE',
 'BLAZING STAR DRIVE',
 'SILLMAN STREET',
 'PONTENOVA AVENUE',
 'MINA STREET',
 'GRIFFITH AVENUE',
 'NORTHAM STREET',
 'EDENFIELD AVENUE',
 'MURRIETA ROAD',
 'ROSCOE BOULEVARD',
 'WEST 62ND STREET',
 'SOUTH INLAND CENTER DRIVE',
 'PLUMMER STREET',
 'NORMANDY ROAD',
 'SOUTH VINCENT AVENUE',
 '64TH STREET',
 'EAST 67TH WAY',
 'LELAND WAY',
 'MARY STREET',
 'INGLEWOOD AVENUE',
 'EAST CHADLEY STREET',
 'LANKERSHIM BOULEVARD',
 'VIA VISTA DRIVE',
 'LA LADERA ROAD',
 'RIDGEFIELD DRIVE',
 'SOUTH LA SEDA ROAD',
 'FRIJO AVENUE',
 'LOWER AZUSA ROAD',
 'DAYBREAK STREET',
 'SAN JOSE AVENUE',
 'ESPLANADE AVENUE',
 'PROSPECT AVENUE',
 'EL CAMINO LANE',
 'SAM GERRY DRIVE',
 'NORTH HOLLENBECK AVENUE',
 'FAIRPLEX DRIVE',
 'EAST NELSON AVENUE',
 'IRWINDALE AVENUE',
 'RATH STREET',
 'GLENDORA RIDGE ROAD',
 'TOWNE AVENUE',
 'SYRACUSE AVENUE',
 'ASTELL AVENUE',
 'GALATEA STREET',
 'MANGO AVENUE',
 'EAST FONDALE STREET',
 'EAST WILDROSE AVENUE',
 'VALLE VISTA',
 'MURWOOD LANE',
 'KENNETH WAY',
 'MC DOWELL ALLEY',
 'TOFT DRIVE',
 'LAKE STREET',
 'BRANFORD STREET',
 'VIP ROAD',
 'LONGRIDGE AVENUE',
 'LATOUR LANE',
 'GREEN RIVER ROAD',
 'RADFORD DRIVE',
 'GLEN HELEN ROAD',
 '48TH STREET',
 '60TH STREET',
 'KNABE ROAD',

In [35]:
hour,day,l = list(range(0,24)),list(range(0,7)),[]
for item in hour:
    for stuff in day:
        l.append(str(item)+'-'+str(stuff))
moments = pd.DataFrame(l)
moments = moments.rename(columns={0:'moment'})
moments

    moment
0      0-0
1      0-1
2      0-2
3      0-3
4      0-4
..     ...
163   23-2
164   23-3
165   23-4
166   23-5
167   23-6

[168 rows x 1 columns]

In [40]:
from progressbar import ProgressBar
pbar = ProgressBar()

def make_accident_free_rows(df, moments, road_name):
    tmp = df[df['OSRM_API_ROAD_name'] == road_name]
    tmp = tmp.merge(moments, how='outer')
    tmp['OSRM_API_ROAD_name'] = road_name
    return tmp
output=[]
for road in pbar(roads): # for each unique road name (in API)
    output.append(make_accident_free_rows(b, moments, road))
test = pd.concat([item for item in output])

100% |########################################################################|

In [42]:
test

case_id               3487305
OSRM_API_ROAD_name          0
dataset_ROAD_name     3487305
weather_1             3487305
collision_severity    3487305
latitude              3487305
longitude             3487305
hour                  3487305
weekday               3487305
moment                      0
dtype: int64

In [43]:
test.shape

(4205968, 10)

In [44]:
test.to_csv("moments_routes", index=False)

# Imputing the missing values thanks to a KNN imputer

In [ ]:
from sklearn.impute import KNNimputer
knnimputer = KNNimputer()

# checking if there is a pattern among missing lon/lat in the OSRM API vs initial dataset

In [ ]:
ds = pd.read_csv('../raw_data/csv/la_clean.csv')
ds.head()

In [ ]:
# let us fetch all rows in kaggle dataset that do not have a match in OSRM dataset:
missing = ds[~ds.case_id.isin(df.case_id)]
missing

In [ ]:
# plotting the lat/long of missing datapoints


missing.plot.scatter(x='longitude', y='latitude',figsize=(14,16),s=1)

In [ ]:
# no pattern, just L.A. datapoints