In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
collisions = pd.read_csv('raw_data/collisions_la.csv')
collisions.shape

/Users/leonardtheret/.pyenv/versions/3.8.6/envs/data/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(950421, 37)

In [10]:
collisions['case_id'] = collisions['case_id'].apply(int)
collisions['distance'] = collisions['distance'].apply(int)

In [5]:
collisions.primary_road.value_counts()

RT 5                                 44560
RT 405                               38980
RT 10                                37151
RT 91                                34270
RT 60                                23375
                                     ...
SR-60 E/B TO PHILLIPS RANCH BLVD.        1
DUARTE RD. (6600 BLOCK)                  1
1-605 N/B                                1
JEANNIE DR. (1800 BLOCK)                 1
I-5 NORTHBOUND TO GARFIELD AVE           1
Name: primary_road, Length: 66108, dtype: int64

In [76]:
collisions.chp_beat_type.value_counts()

interstate                 446055
state route                210867
not chp                    109732
county road area            98643
us highway                  38861
county road line            38112
safety services program      7824
administrative                327
Name: chp_beat_type, dtype: int64

In [11]:
data = collisions[['case_id','primary_road','weather_1','collision_severity','latitude','longitude','collision_date','collision_time']]

data.head()

,case_id,primary_road,weather_1,collision_severity,latitude,longitude,collision_date,collision_time
0,3516974.0,RT 101,clear,property damage only,34.17357,-118.54336,2008-01-11,10:08:00
1,3522174.0,RT 405,clear,property damage only,34.16803,-118.46901,2008-01-17,06:45:00
2,3523649.0,RT 605,clear,property damage only,33.77837,-118.09050,2008-01-11,12:20:00
3,3524803.0,RT 101,cloudy,other injury,34.16938,-118.49952,2008-01-03,06:48:00
4,3524807.0,RT 101,cloudy,pain,34.16968,-118.49999,2008-01-03,06:49:00

In [32]:
data['hour'] = data['collision_time'].apply(lambda x : int(x[0:2]) if int(x[0]) != 0 else int(x[1]))

<ipython-input-32-7c6b9e53590a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = data['collision_time'].apply(lambda x : int(x[0:2]) if int(x[0]) != 0 else int(x[1]))

In [35]:
data.drop(columns = 'collision_time', inplace = True)
data.head()

/Users/leonardtheret/.pyenv/versions/3.8.6/envs/data/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,case_id,primary_road,weather_1,collision_severity,latitude,longitude,collision_date,hour
0,3516974.0,RT 101,clear,property damage only,34.17357,-118.54336,2008-01-11,10
1,3522174.0,RT 405,clear,property damage only,34.16803,-118.46901,2008-01-17,6
2,3523649.0,RT 605,clear,property damage only,33.77837,-118.09050,2008-01-11,12
3,3524803.0,RT 101,cloudy,other injury,34.16938,-118.49952,2008-01-03,6
4,3524807.0,RT 101,cloudy,pain,34.16968,-118.49999,2008-01-03,6

In [40]:
dicti = {'unknown':0, 'property damage only':1, 'pain':2, 'other injury':3, 'severe injury':4, 'fatal':5}

def severity(x):
    x = dicti[x]
    return x

2

In [42]:
data['collision_severity'] = data['collision_severity'].apply(severity)
data['collision_severity'].value_counts()

<ipython-input-42-5a9b253fcb52>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['collision_severity'] = data['collision_severity'].apply(severity)

1    634393
2    208638
3     86422
4     16289
5      4677
0         2
Name: collision_severity, dtype: int64

In [44]:
data.case_id = data.case_id.apply(int)
data.head()

/Users/leonardtheret/.pyenv/versions/3.8.6/envs/data/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,case_id,primary_road,weather_1,collision_severity,latitude,longitude,collision_date,hour
0,3516974,RT 101,clear,1,34.17357,-118.54336,2008-01-11,10
1,3522174,RT 405,clear,1,34.16803,-118.46901,2008-01-17,6
2,3523649,RT 605,clear,1,33.77837,-118.09050,2008-01-11,12
3,3524803,RT 101,cloudy,3,34.16938,-118.49952,2008-01-03,6
4,3524807,RT 101,cloudy,2,34.16968,-118.49999,2008-01-03,6

In [50]:
def weeknb(x):
    return pd.to_datetime(x).isocalendar()[1]

def day_of_week(x):
    return pd.to_datetime(x).weekday()

In [51]:
data['week_of_the_year'] = data['collision_date'].apply(weeknb)
data['day_of_the_week'] = data['collision_date'].apply(day_of_week)

<ipython-input-51-0aaf0ef84af8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['week_of_the_year'] = data['collision_date'].apply(weeknb)
<ipython-input-51-0aaf0ef84af8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_of_the_week'] = data['collision_date'].apply(day_of_week)

In [52]:
data.head()

,case_id,primary_road,weather_1,collision_severity,latitude,longitude,collision_date,hour,week_of_the_year,day_of_the_week
0,3516974,RT 101,clear,1,34.17357,-118.54336,2008-01-11,10,2,4
1,3522174,RT 405,clear,1,34.16803,-118.46901,2008-01-17,6,3,3
2,3523649,RT 605,clear,1,33.77837,-118.09050,2008-01-11,12,2,4
3,3524803,RT 101,cloudy,3,34.16938,-118.49952,2008-01-03,6,1,3
4,3524807,RT 101,cloudy,2,34.16968,-118.49999,2008-01-03,6,1,3

In [64]:
data.drop(columns = ['collision_date'], inplace = True)
data.head()

/Users/leonardtheret/.pyenv/versions/3.8.6/envs/data/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,case_id,primary_road,weather_1,collision_severity,latitude,longitude,hour,week_of_the_year,day_of_the_week
0,3516974,RT 101,clear,1,34.17357,-118.54336,10,2,4
1,3522174,RT 405,clear,1,34.16803,-118.46901,6,3,3
2,3523649,RT 605,clear,1,33.77837,-118.09050,12,2,4
3,3524803,RT 101,cloudy,3,34.16938,-118.49952,6,1,3
4,3524807,RT 101,cloudy,2,34.16968,-118.49999,6,1,3

In [69]:
data.to_csv('raw_data/la_clean.csv', index=False)

In [70]:
df = pd.read_csv('raw_data/la_clean.csv')

In [71]:
len(df)

950421